{% extends "home/base_home.html" %}

{% block title %}  Sistema de Costos y Presupuestos - Copre  {% endblock %}

{% load  staticfiles%}

{% block content %}

  {% include "include/header.html" %}
  <div class="callout large">
    <h5>Datos del Proceso</h5>
    <form>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <label>Nombre:
            <input type="text" placeholder="Nombre del proceso">
          </label>
        </div>
        <div class="small-12 medium-6 columns">
          <label>Fecha de Inicio:
            <input type="date">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <label>Presupuesto Estimado:
            <input type="number" placeholder="0.00">
          </label>
        </div>
        <div class="small-12 medium-6 columns">
          <label>Fecha Fin:
            <input type="date">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6  columns">
          <label>Encargado:
            <select>
              <option value="husker">Husker</option>
              <option value="starbuck">Starbuck</option>
              <option value="hotdog">Hot Dog</option>
              <option value="apollo">Apollo</option>
            </select>
          </label>
        </div>
        <div class="small-12 medium-6  columns">
          <label>Responsable:
            <select>
              <option value="husker">Husker</option>
              <option value="starbuck">Starbuck</option>
              <option value="hotdog">Hot Dog</option>
              <option value="apollo">Apollo</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row small-12 large-offset-5 columns">
        <p>

        </p>
        <button type="button" class="secondary button">Crear Proceso</button>
      </div>
    </form>
  </div>

  {% include "include/footer.html" %}
{% endblock %}
