{% extends "proceso/base_proceso.html" %}

{% block title %}lista{% endblock %}

{% load  staticfiles%}

{% block content %}
    <div ng-app="CopreApp" >

        <button id="enproceso" onclick="activarbotonenproceso()" >En Proceso</button>
        <button id="terminado" onclick="activarbotonterminado()">Terminado</button>
        <button id="eliminado" onclick="acivarbotoneliminado()">eliminado</button>

             <div id="enprocesocontenedor" style="display: none" ng-controller="ProcesoListCtrl as self" ng-init="self.procesofiltro_list({{ object.pk }}, 1)"  >
                <input type="text" ng-model="self.buscar">
                <p ng-repeat="u in self.respuesta | filter:self.buscar">
                    {$ u.bussinesunit $}
                    {$ u.name $}
                    {$ u.attendant $}
                    {$ u.responsible $}
                    {$ u.date_start $}
                    {$ u.date_end $}
                    {$ u.created $}
                    {$ u.date_close $}
                    {$ u.budget_estimated $}
                    {$ u.budget_real $}
                    {$ u.finished $}
                </p>
             </div>
             <div id="terminadocontenedor" style="display: none" ng-controller="ProcesoListCtrl as self" ng-init="self.procesofiltro_list({{ object.pk }}, 2)"  >
                <input type="text" ng-model="self.buscar">

                <p ng-repeat="u in self.respuesta | filter:self.buscar">
                    {$ u.bussinesunit $}
                    {$ u.name $}
                    {$ u.attendant $}
                    {$ u.responsible $}
                    {$ u.date_start $}
                    {$ u.date_end $}
                    {$ u.created $}
                    {$ u.date_close $}
                    {$ u.budget_estimated $}
                    {$ u.budget_real $}
                    {$ u.finished $}
                </p>
             </div>

            <div id=eliminarcontenedor" style="display: none" ng-controller="ProcesoListCtrl as self" ng-init="self.procesofiltro_list({{ object.pk }}, 3)"  >
                <input type="text" ng-model="self.buscar">
                <p ng-repeat="u in self.respuesta | filter:self.buscar">
                    {$ u.bussinesunit $}
                    {$ u.name $}
                    {$ u.attendant $}
                    {$ u.responsible $}
                    {$ u.date_start $}
                    {$ u.date_end $}
                    {$ u.created $}
                    {$ u.date_close $}
                    {$ u.budget_estimated $}
                    {$ u.budget_real $}
                    {$ u.finished $}
                </p>
             </div>


        </div>

    <script language="JavaScript">

        function activarbotonenproceso() {
           var contenedor = document.getElementById("enprocesocontenedor");
           var terminado = document.getElementById("terminadocontenedor");
           var eliminado = document.getElementById("eliminadocontenedor");
           contenedor.style.display="block";
           terminado.style.display = "none";
           eliminado.style.display = "none";
        }
        
        function activarbotonterminado() {
           var contenedor = document.getElementById("terminadocontenedor");
           var enproceso = document.getElementById("enprocesocontenedor");
           var eliminado = document.getElementById("eliminadocontenedor");
           contenedor.style.display = "block";
           enproceso.style.display = "none";
           eliminado.style.display = "none";
        }
        
        function acivarbotoneliminado() {
            var contenedor = document.getElementById("eliminadocontenedor");
            var enproceso = document.getElementById("enprocesocontenedor");
            var terminado = document.getElementById("terminadocontenedor");
            contenedor.style.display = "block";
            enproceso.style.display = "none";
            eliminado.style.display = "none";
        }
        


    </script>
{% endblock %}