{% extends "proceso/base_proceso.html" %}

{% block title %}busqueda Procesos Recientes{% endblock %}

{% load  staticfiles%}

{% block content %}

    <div ng-app="CopreApp" >
         <div ng-controller="ProcesoListCtrl as self">
           <form name="myForm">
                <label>
                   nombre proceso:
                   <input type="text" name="NombreProceso" ng-model="user.name" required>
                </label>
                <div role="alert">
                  <span class="error" ng-show="myForm.NombreProceso.$error.required">
                   campo requerido para la busqueda</span>
                </div>
                  <button   ng-click = "self.procesonombre_list({{ object.pk }}, user.name)">Buscar</button>
                    <div ng-if="user.name">
                         <p ng-repeat="u in self.procesonombre">
                            {$ u.pk $}
                            {$ u.bussinesunit $}
                            {$ u.name $}
                            {$ u.attendant $}
                            {$ u.responsible $}
                            {$ u.date_start$}
                            {$ u.date_end $}
                            {$ u.created $}
                            {$ u.date_close $}
                            {$ u.budget_estimated $}
                            {$ u.budget_real $}
                            {$ u.finished $}
                         </p>
             </div>
             <div ng-hide="user.name" ng-controller="ProcesoListCtrl as self" ng-init="self.procesoreciente_list({{ object.pk }})"  >
                         <p ng-repeat="u in self.procesoreciente">
                            {$ u.pk $}
                            {$ u.bussinesunit $}
                            {$ u.name $}
                            {$ u.attendant $}
                            {$ u.responsible $}
                            {$ u.date_start $}
                            {$ u.date_end $}
                            {$ u.created $}
                            {$ u.date_close $}
                            {$ u.budget_estimated $}
                            {$ u.budget_real $}
                            {$ u.finished $}
                         </p>
             </div>
           </form>

            </div>
         </div>
{% endblock %}