{% extends "base.html" %}

{% load  staticfiles %}

{% block css %}

{% endblock css %}

{% block js %}
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <!-- archivos angular js-->
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-cookies.js' %}"></script>
    <script src="{% static 'angularApp/common/common.services.js' %}"></script>
    <script src="{% static 'angularApp/app.js' %}"></script>

    <!-- Controladores para Servicios-->
    <script src="{% static 'angularApp/common/services/subproceso/subproceso.services.js' %}"></script>
    <!-- Controladores para aplicacion equipo-->
    <script src="{% static 'angularApp/app/subproceso/subproceso_addCtrl.js' %}"></script>


{% endblock js %}
