{% extends "base.html" %}

{% load  staticfiles %}

{% block css %}
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock css %}

{% block js %}
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <!-- archivos angular js-->
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-cookies.js' %}"></script>
    <script src="{% static 'angularApp/common/common.services.js' %}"></script>
    <script src="{% static 'angularApp/app.js' %}"></script>
    <!-- Controladores para Servicios-->
    <script src="{% static 'angularApp/common/services/proceso/unidadnegocio.services.js' %}"></script>
    <!-- Controladores para aplicacion equipo-->
    <script src="{% static 'angularApp/app/UnidadNegocio/unidadnegocio_addCtrl.js' %}"></script>
    <script src="{% static 'angularApp/app/UnidadNegocio/unidadnegocio_UpdateCtrl.js' %}"></script>
    <script src="{% static 'angularApp/app/UnidadNegocio/unidadnegocio_listCtrl.js' %}"></script>

{% endblock js %}
